<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GetOrder.Properties.Settings.JmgjjPreliminaryConnectionString"
            connectionString="Data Source=10.11.11.253;Initial Catalog=JmgjjPreliminary;User ID=sa;Password=Hli12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>